{% extends 'base.html.twig' %}

    {% block stylesheets %}
        <link href="{{ asset('style/login.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}

{% block title %}Bienvenido!{% endblock %}

{% block body %}
<div class="login">
    <div class="login__form">
        <form method="post">
            <h1 class="login__form__title">Inicio Sesión</h1>
            <div class="login__form__input">
                <label for="inputUsername"></label>
                <input type="text" value="{{ last_username }}"  name="username" id="inputUsername" class="form-control" placeholder="Usuario" required >
            </div>
            <div class="login__form__input">
                <label for="inputPassword"></label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
            </div>
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >
            {% if error %}
                <div class="error">{{ error.messageKey|trans   (error.messageData, 'security') }}</div>
            {% endif %}

            <div class="checkbox">
                <label>
                    <input type="checkbox" name="_remember_me"> Recuérdame
                </label>
            </div>
            <button class="btn" type="submit">
                Entrar
            </button>
        </form>
    </div>
</div>

{% endblock %}
