{% extends 'base.html.twig' %}

    {% block stylesheets %}
        <link href="{{ asset('style/new-user.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}

{% block body %}
<div class="register">
    <div class="register__form">
        <h2 class="register__title">Crear Usuario</h2>

        {{form_start(userForm)}}
            <div class="register__form__input">
                {{ form_label(userForm.username) }}
                {{ form_errors(userForm.username) }}
                {{ form_widget(userForm.username) }}
            </div>
            <div class="register__form__input">
                {{ form_label(userForm.email) }}
                {{ form_errors(userForm.email) }}
                {{ form_widget(userForm.email) }}
            </div>
            <div class="register__form__input">
                {{ form_label(userForm.password) }}
                {{ form_errors(userForm.password) }}
                {{ form_widget(userForm.password) }}
            </div>
            <div class="register__form__input">
                {{ form_label(userForm.comentarios) }}
                {{ form_errors(userForm.comentarios) }}
                {{ form_widget(userForm.comentarios) }}
            </div>
            <div>
                {{ form_widget(userForm.Guardar) }}
            </div>
        
        {{form_end(userForm)}}

        <div class="register__form__link">
            <a href="/">Volver</a>
        </div>
    </div>
</div>
{% endblock %}