*{
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

html{
    background: linear-gradient(to bottom, darkcyan, rgba(3, 185, 185, 0.336));
    background-repeat: no-repeat;
    height: 100%;
}

.confirmUser{
    display: flex;
    flex-direction: column;
    color: #174444;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff54;
    border-radius: 15px;
    padding: 20px;
    width: 420px;
    text-align: center;
}

.confirmUser__title{
    padding: 10px 0;
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
}

.confirmUser__data{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    text-align: left;
    padding: 0 57px;
}

.confirmUser__data--title{
    width: 50%;
}

.confirmUser__data__file{
    padding: 5px 0;
    width: 50%;
}

.confirmUser__btn{
    margin-top: 20px;
}

.confirmUser__btn__link{
    padding: 6px 15px;
    background-color: darkcyan;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    text-decoration: none;
    margin-right: 10px;
}