*{
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

html{
    background: linear-gradient(to bottom, darkcyan, rgba(3, 185, 185, 0.336));
    background-repeat: no-repeat;
    height: 100%;
}

.detail{
    color: #174444;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%%;
}

.detail__title{
    padding: 10px 0;
    text-align: center;
    font-size: 25px;
}

.detail__box{
    background-color: #ffffff54;
    border-radius: 15px;
    padding: 41px 88px;

}

.detail__box__data{
    margin: 0 20px;
    width: 100%;
}

.detail__box__data__file{
    padding: 5px 35px;
    width: 50%;
}

.detail__box__data__filegroup{
    display: flex;
    text-align: -moz-left;
}

.detail__box__data__file--title{
    width: 50%;
}

.detail__box__btn{
    padding: 6px 15px;
    background-color: darkcyan;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    text-decoration: none;
    margin-right: 10px;
}

.detail__box__btn:hover{
    padding: 6px 15px;
    background-color: white;
    color: darkcyan;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    text-decoration: none;
    margin-right: 10px;
}

.detail__box__btnes{
    text-align: center;
    margin-top: 26px;
}

.detail__link{
    color: #174444;
}

.detail__btn{
    text-align: center;
    position: relative;
    top: -37px;
}