*{
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

html{
    background: linear-gradient(to bottom, darkcyan, rgba(3, 185, 185, 0.336));
    background-repeat: no-repeat;
    height: 100%;
}

.edit{
    color: #1c5656;
    background-color: #ffffff5e;
}

.edit__title{
    padding: 10px 0;
    text-align: center;
    font-size: 25px;
}

.edit__form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff54;
    text-align: center;
    border-radius: 15px;
    padding: 15px 50px;
}

.edit__form__input{
    padding: 10px 0;
    text-align: left;
}

.edit__form__input input{
    padding: 10px;
    margin: 11px 0;
}


.edit__form__input label{
    font-weight: bold;
}

button{
    margin: 5px;
    padding: 10px 77px;
    background-color: darkcyan;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    border: none;
}

button:hover{
    margin: 5px;
    padding: 10px 77px;
    background-color: white;
    color: darkcyan;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.edit__btn__link{
    margin-top: 5px;
}

.edit__link{
    color: #143d3d;
}