*{
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

html{

    background: linear-gradient(to bottom, darkcyan, rgba(3, 185, 185, 0.336));
    background-repeat: no-repeat;
    height: 100%;

}

.login{
    color: #1c5656;
    background-color: #ffffff5e;

}

.login__form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ffffff54;
    text-align: center;
    border-radius: 15px;
}

.login__form__title{
    font-size: 40px;
    padding: 10px;
}

.login__form__input{
    padding: 10px 0;
}

.login__form__input input{
    padding: 10px;
}

.login__link a{
    color: #143d3d;
    cursor:pointer;
}

.error{
    color: rgba(255, 0, 0, 0.671);
    padding: 5px;
}

.checkbox{
    padding: 10px;
}

.btn{
    margin: 5px;
    padding: 10px 92px;
    background-color: darkcyan;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    border: none;
}

.btn:hover{
    margin: 5px;
    padding: 10px 92px;
    background-color: white;
    color: darkcyan;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}