*{
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

html{
    background: linear-gradient(to bottom, darkcyan, rgba(3, 185, 185, 0.336));
    background-repeat: no-repeat;
    height: 100%;
}

.register{
    color: #1c5656;
    background-color: #ffffff5e;
    margin-bottom: 10px;
}

.register__form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ffffff54;
    text-align: center;
    border-radius: 15px;
}

.register__title{
    font-size: 35px;
    padding: 12px;
}

.register__form__input{
    padding: 10px 0;
}

.register__form__input input{
    padding: 10px;
}

.register__form__link{
    padding: 10px 0;
}

.register__form__link a{
    color: #143d3d;
}

button{
    margin: 5px;
    padding: 10px 83px;
    background-color: darkcyan;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    border: none;
}

button:hover{
    margin: 5px;
    padding: 10px 83px;
    background-color: white;
    color: darkcyan;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}