*{
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

html{
    background: linear-gradient(to bottom, darkcyan, rgba(3, 185, 185, 0.336));
    background-repeat: no-repeat;
    height: 100%;
}

.user{
    display: flex;
    flex-direction: column;
    color: #174444;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 785px;

}

.user__title{
    padding: 10px 0;
    text-align: center;
    font-size: 30px;
}

.user__box{
    background-color: #ffffff54;
    border-radius: 15px;
    padding: 20px;
    text-align: -moz-center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user__box__list{
    padding: 8px 0;
    width: 100%;
}

.user__box__list__data{
    width: 100%;
    padding: 0 28px;
}

.user__box__list__data--title{
    display: flex;
    justify-content: flex-end;
}

.user__box__list__data__tr{
    display: flex;
    justify-content: space-between;
}

.user__box__list__data__tr--title{
    width: 73%;
    display: flex;
    justify-content: end;
}

.user__box__list__data__th{
    font-size: 20px;
    padding: 0 65px;
}

.user__box__list__data__td{
    padding: 2px 0;
}

.user__box__list__link{
    color: darkcyan;
    cursor: pointer;
    text-decoration: none;
}

.user__btn{
    text-align: center;
    margin: 20px;
}

.user__btn__link{
    color: darkcyan;
    cursor: pointer;
    text-align: center;
}

.user__link{
    padding: 6px 24px;
    background-color: darkcyan;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    text-decoration: none;
}

.user__link:hover{
    padding: 6px 24px;
    background-color: white;
    color: darkcyan;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    text-decoration: none;
}

.user__logout{
    color: rgb(172, 29, 29);
    cursor: pointer;
    text-align: center;
    padding-left: 10px;
}