{% extends 'base.html.twig' %}

    {% block stylesheets %}
        <link href="{{ asset('style/confirmEdit.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}

{% block body %}
    <div class="confirmUser">
        <h2 class="confirmUser__title">¡¡Usuario editado con éxito!!</h2>
        <div class="confirmUser__data">
            <h4 class="confirmUser__data--title">Username: </h4>
            <p class="confirmUser__data__file">{{ user.username }}</p>                    
        </div>
        <div class="confirmUser__data">
            <h4 class="confirmUser__data--title">Email: </h4>
            <p class="confirmUser__data__file">{{ user.email }}</p>                    
        </div>
        <div class="confirmUser__data">
            <h4 class="confirmUser__data--title">Comentarios: </h4>
            <p class="confirmUser__data__file">{{ user.comentarios }}</p>                    
        </div>
        <div class="confirmUser__btn">
            <a class="confirmUser__btn__link" href="/users">Volver</a>
        </div>
    </div>

{% endblock %}