{% extends 'base.html.twig' %}

    {% block stylesheets %}
        <link href="{{ asset('style/detail.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}

{% block body %}
    <div class="detail">
        <h2 class="detail__title"> Detalle del usuario</h2>
        <div>
            <div class="detail__box">        
                <div class="detail__box__data">
                    <div class="detail__box__data__filegroup">
                        <h4 class="detail__box__data__file--title">Username: </h4>
                        <p class="detail__box__data__file">{{ user.username }}</p>                    
                    </div>
                    <div class="detail__box__data__filegroup">
                        <h4 class="detail__box__data__file--title">Email: </h4>
                        <p class="detail__box__data__file">{{ user.email }}</p>
                    </div>
                    <div class="detail__box__data__filegroup">
                        <h4 class="detail__box__data__file--title">Comentarios: </h4>
                        <p class="detail__box__data__file">{{ user.comentarios }}</p>                    
                    </div>
                </div>
                <div class="detail__box__btnes">
                    <a class="detail__box__btn" href="/users/edit/{{ user.id }}">Modificar</a>
                    <a class="detail__box__btn" href="/users/delete/{{ user.id }}">Eliminar</a>
                </div>
                <br>
            </div>
            <div class="detail__btn">
                <a class="detail__link" href="/users">Volver</a>
            </div>
        </div>
    </div>
{% endblock %}