{% extends 'base.html.twig' %}

    {% block stylesheets %}
        <link href="{{ asset('style/edit.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}

{% block body %}
<div class="edit">
    <div class="edit__form">
    <h2 class="edit__title">Editar usuario</h2>
        {{form_start(userForm)}}
            <div class="edit__form__input">
                {{ form_label(userForm.username) }}
                {{ form_errors(userForm.username) }}
                {{ form_widget(userForm.username) }}
            </div>
            <div class="edit__form__input">
                {{ form_label(userForm.email) }}
                {{ form_errors(userForm.email) }}
                {{ form_widget(userForm.email) }}
            </div>
            <div class="edit__form__input">
                {{ form_label(userForm.password) }}
                {{ form_errors(userForm.password) }}
                {{ form_widget(userForm.password) }}
            </div>
            <div class="edit__form__input">
                {{ form_label(userForm.comentarios) }}
                {{ form_errors(userForm.comentarios) }}
                {{ form_widget(userForm.comentarios) }}
            </div>
            <div>
                {{ form_widget(userForm.Guardar) }}
            </div>
        
        {{form_end(userForm)}}

        <div class="edit__btn__link">
            <a class="edit__link" href="/users">Volver</a>
        </div>
    </div>
</div>
{% endblock %}