{% extends 'base.html.twig' %}

    {% block stylesheets %}
        <link href="{{ asset('style/users.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}

{% block body %}
    <div class="user">
    <a class="user__logout" href="{{ path('app_logout') }}">Desconectar</a>
        <h2 class="user__title">Listado de Usuarios</h2>
        <div class="user__box">
            <div class="user__box__list">        
                <table class="user__box__list__data--title">
                    <tr class="user__box__list__data__tr--title">
                      <th class="user__box__list__data__th">ID</th>
                      <th class="user__box__list__data__th">Usuario</th>
                      <th class="user__box__list__data__th">Email</th>
                      <th class="user__box__list__data__th">     </th>
                    </tr>
                </table>
            </div>
            {% for user in users %}
            <div class="user__box__list">
                <table class="user__box__list__data">
                    <tr class="user__box__list__data__tr">
                      <td class="user__box__list__data__td">{{ user.id }}</td>
                      <td class="user__box__list__data__td">{{ user.username }}</td>
                      <td class="user__box__list__data__td">{{ user.email }}</td>
                      <td ><a class="user__box__list__link" href="/users/{{ user.id }}">Ver más</a></td>
                    </tr>
                </table>
            </div>
            {% endfor %}
        </div>
        <div class="user__btn">
            <a class="user__link" href="/users/new">Crear Usuario</a>
        </div>
    </div>

    
{% endblock %}